.container {
  max-width: 600px;
  margin: 40px auto;
}

.flex-container {
  display: flex;
  min-height: 500px;
  background-color: gray;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.flex-container > div {
  background-color: lightgrey;
  margin: 10px;
  width: 75px;
  height: 75px;
  padding: 20px;
  font-size: 30px;
}

div .flex-container__item1 {
  height: 120px;
}

div .flex-container__item2 {
  height: 50px;
}

div .flex-container__item3 {
  height: 280px;
}
