.main {
    height: 80vh;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(0 0 0 / 90%)), 
        url(../../../01-HTML/LenaAvramenko/portfolio/img/me.jpeg);
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: stretch;

    flex-direction: column-reverse;
    flex-wrap: nowrap;

    padding: 30px 20px 50px 20px;
    color: var(--main-color)
}

.main__title { 
    font-size: 5vw;
}