a:hover{
    text-decoration: none;
    color: red;
}
.previouslu {
    color: yellow;
    padding-top: 20px;
    padding-bottom: 10px;

}
.connection {
    padding-top: 30px;
    padding-bottom: 40px;
    color: yellow;
}