.img {
    background-color: rgb(179, 71, 173);
    background-position: center;
    background-repeat:no-repeat;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
       
}
.img :nth-child(3){
    align-self: center;
    padding-top: 20px;
}    
.img :nth-child(4){
    align-self: center;
    padding: 10px 10px;
}    
  
.img :nth-child(5){
     align-self: center;
     height: 290px;
   
}
.img :nth-child(6){
    align-self: center;
    height: 290px;
}
.img :nth-child(7){
   justify-content: space-around;
   padding-bottom: 20px;
  
    
}
.img :nth-child(8) {
    justify-content: space-around;
    width: 350px;
    padding-bottom: 20px;
  
   
}
  