body {
    background-image: url(/Volumes/macHDD/dev/javaguru-fe/Homeworks/02-СSS/VitalyKirey/backpic.jpeg);
    background-size: cover;
    
}

main {
   
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/Volumes/macHDD/dev/javaguru-fe/Homeworks/02-СSS/VitalyKirey/kaw1.png);
    background-size: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
}

