
.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: grey;
    padding: 10px;
  }
  
  .container > div {    
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    border: 2px solid white;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: rgb(104, 65, 14);    
  }
  .item2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 9;
      background-color: olive;    
  }
  .item3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 11; 
    background-color: olivedrab;
  }
  .item4 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 11;
    background-color: green; 
  }
  .item5 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 11;
    background-color: rgb(57, 136, 57);
  }
  .item6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9; 
    background-color: rgb(20, 48, 20);
  }
  .item7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9; 
    background-color: rgb(85, 84, 139);
  }
  .item8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    background-color: rgb(131, 130, 175);
  }
  .item9 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 9;
    background-color: rgb(22, 21, 90);
  }
  .item10 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: rgb(32, 31, 88); 
  }
  .item11 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 6; 
    background-color: rgb(89, 40, 122);
  }
  .item12 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 6; 
    background-color: purple;
  }





