@import url('C:\Dev\javaguru-fe\Homeworks\02-Ð¡SS\Dmitrijs_Cernevics\Portfolio\Fonts');

html {
    font-family: 'Kufam', sans-serif;
}
body {
    background-image: url(../back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}