@import url(../Fonts/);

html {
    font-family: 'Kufam', sans-serif;
}
body {

    background-size: cover;
}

h2 {
    padding: 20px 20px;
    font-size: 2em;
    text-align: center;
    color: orange;
    /* color: var(--text-color); */
}

p {
    color: var(--text-color);
}