.main {
    height: 50vh;
    background-size: contain;
    background-color: black;
    background-image: url(../Images/Main.png);
    /* box-shadow: 20px 20px 20px 20px white inset; */
    background-repeat: no-repeat;
    /* background-position: bottom; */
    background-position: 90%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.main__preTitle { 
    font-size: 2vw;
    color: orange;
}

.main__title { 
    font-size: 4vw;
    color: var(--text-color);
}
.main__contactInfo {
    padding: 15px 0px;
    font-size: 1.5vw;
    display: inline-block;
    /* color: var(--text-color); */
    text-decoration: none;
    color: rgb(45, 145, 238);
}