.header {
    display:flex;
    background-color: var(--back-color);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
    
}
.header__item a{
    color: var(--text-color);
    text-decoration: none;
    padding: 0 10px 0 10px;
    /* background-color: rgb(150, 231, 20);
    margin: 10px;
    width: 200px;
    height: 50px;
    padding: 20px;
    font-size: 20px;
    text-align: center; */
}