.pqa{
    background-color: var(--black-color);
    color: var(--white-color);
    /* border: 2px solid var(--white-color);
    border-radius: 50px; */
    font-size: var(--main-size);
    padding: 0 20% 30px 20%;
}