footer {
	align-content: flex-end;
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
		background: linear-gradient(to right, #ACB6E5, #74ebd5);
}

.footer-container {
	display: flex;
	margin: 15px auto;
	justify-content: space-between;
}

.footer-text {
	width: 100%;
	text-align: center;
}

.social {
	display: flex;
	padding-left: 10px;
}

.foot-icons-facebook {
	background-image: url(../Files/facebook.jpg);
	background-color: white;
	display: block;
	width: 200px;
	height: 193px;
	margin-right: 10px;
	border-radius: 35px;
}

.foot-icons-twitter {
	background-image: url(../Files/twitter.jpg);
	background-color: white;
	display: block;
	width: 190px;
	height: 185px;
	margin-right: 10px;
	border-radius: 35px;
}

.foot-icons-instagram {
	background-image: url(../Files/instagram.jpg);
	background-color: white;
	display: block;
	width: 128px;
	height: 128px;
	margin-right: 10px;
	border-radius: 40px;
}

.foot-icons-tumblr {
	background-image: url(../Files/tumblr.png);
	background-color: #2b79c2;
	display: block;
	width: 180px;
	height: 190px;
	margin-right: 10px;
	border-radius: 58px;
}

.line {
	height: 1px;
	width: 100%;
	background-color: rgb(59, 59, 59);
}