/* 
.slideInUp {}       Появление сверху
.slideInDown {}     Появление снизу
.slideInLeft {}     Появление слева 
.slideInRight {}    Появление справа
.fadeIn {}          Появления без трансформации
.zoomIn {}          Появление из малого в больше
.zoomReverseIn {}   Появление из большого в малое
.flipInY {}         Разворот справа
.flipOutY {}        Разворот слева 
*/

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }
    100% {
        opacity: 1;
        transform: none;
        }
    }

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes zoomReverseIn {
    0% {
        opacity: 0;
        transform: scale(1.25);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes flipInY {
    0% {
        opacity: 0;
        transform: perspective(90vw) rotateY(67.50deg);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

[data-animation] {
   opacity: 0;
   animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   animation-fill-mode: both;
   animation-duration: 300ms;
   will-change: transform, opacity;
}

.slideInUp {
   animation-name: slideInUp;
}
.slideInDown {
    animation-name: slideInDown;
}
.slideInLeft {
    animation-name: slideInLeft;
}
.slideInRight {
    animation-name: slideInRight;
}

.fadeIn {
   animation-name: fadeIn;
}


.zoomIn {
   animation-name: zoomIn;
}
.zoomReverseIn {
    animation-name: zoomReverseIn;
}

.flipInY {
   animation-name: flipInY;
}
.flipOutY {
    animation-name: flipInY;
    animation-direction: reverse;
}