@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


body {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: var(--font-main-color);
    background-color: var(--main-color);
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Bebas Neue', cursive;
}

h2 {
    padding: 20px 20px;
    font-size: 2.5em;
    text-align: center;
    color: var(--font-hover-color);
}

h3 {
    font-size: 2em;
    padding: 20px 0px;
}
h4 {
    font-size: 1.5em;
    padding-bottom: 20px;
}

p {
    color: var(--text-color);
}