

#facebook {
	background-image: url(../social-icons/facebook.svg);
	display: block;
    border-radius: 29px;
    width: 30px;
	height: 30px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
    background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080
    
}

#twitter {
	background-image: url(../social-icons/twitter.svg);
  display: block;
    border-radius: 29px;
    width: 30px;
	height: 30px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
    background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080
	
}

#instagram {
	background-image: url(../social-icons/instagram.svg);
  display: block;
    border-radius: 29px;
    width: 30px;
	height: 30px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
    background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080
	
}

#tumblr {
	background-image: url(../social-icons/tumblr.svg);
  display: block;
    border-radius: 29px;
    width: 30px;
	height: 30px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
    background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080
	
}
#facebook{
    animation-delay: 0.7s;
}


@keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }