#aboutFreddie {
    display: inline;
}

#aboutFreddie img {
    background-color: #d7b501;
    padding: 3px;
    margin: 3px;
}

.header1 {
    text-align: center;
    color: #b56cf7;
    font-size: 60px;
}