#aboutFreddie {
    display: inline;
}

#aboutFreddie img {
    background-color: #ffff01;
    padding: 3px;
    margin: 3px;
}

p {
    color: white;
    text-align: center;
    line-height: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}