@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }

    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInLeft {
    0%{
        opacity: 0;
        transform: translateX(25%);
    }

    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInDown {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }

    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInRight {
    0%{
        opacity: 0;
        transform: translateX(-25%);
    }

    100%{
        opacity: 1;
    }
}

[data-animation] {
    opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-duration: 1s;
    will-change: transform, opacity;
}


.slideInUp {
    animation-name: slideInUp;
}

.slideInLeft {
    animation-name: slideInLeft;
}

.slideInDown {
    animation-name: slideInDown;
}

.slideInRight {
    animation-name: slideInRight;
}