@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

html {
    font-family: 'New Rocker', cursive;
    background: url(../3.jpg) no-repeat;
    background-color: #030102;
    background-position: center;
    background-size: 105rem;
}

h1 {
    color: var(--main-color);
    font-size: var(--font-size);
    text-align: var(--text-align);
}

h2 {
    color: var(--main-color);
    font-size: var(--font-size);
    text-align: var(--text-align);
}

h3 {
    color: var(--main-color);
    font-size: var(--font-size);
    text-align: var(--text-align);
}

h4 {
    color: var(--main-color);
    font-size: var(--font-size);
    text-align: var(--text-align);
}

h5 {
    color: var(--main-color);
    font-size: var(--font-size);
    text-align: var(--text-align);
}