@import "breakpoint.css";

body {
    margin: 0;
    font-size: 25px;
   
}

:root{
    --margin-bottom-50: 50px;
    --margin-bottom-80: 80px;
}
.block {
background-color: #ddd;
border: 1px solid #aaa;
padding: 20px;
text-align: center;
height: 100%;
}
.header{
    min-height: 90px;
    margin-top: 10px;
    margin-bottom: var(--margin-bottom-50);
}
.promo{
    min-height: 450px;
    margin-bottom: var(--margin-bottom-80);
}
.customer{
    min-height: 80px;
    margin-bottom: var(--margin-bottom-80);
}
.pricing{
    min-height: 350px;
    margin-bottom: var(--margin-bottom-50);
}
.team{
    min-height: 300px;
    margin-bottom: var(--margin-bottom-80);
}
.footer{
    min-height: 380px;
    margin-bottom: 10px;
}

/* @media screen and (min-width : 320px){
    body{
    background-color: green;
    }
  }
  
  @media screen and (min-width : 768px){
    body{
    background-color: blue;
    }
  }
  
  @media screen and (min-width : 1024px){
    body{
    background-color: gray;
    }
  }
  
  @media screen and (min-width : 1284px){
    body{
    background-color: white;
    }
  }
   */